@media screen and (max-width: 800px) {
    .main-title h1 {
        font-size: 2.2rem;
        margin: 40px 0px;
    }
    .aboutContent {
        flex-direction: column;
        height: 100%;
    }
    .about-content h1 {
        font-size: 2.2rem;
        padding: 15px 0px;
    }
    .contact-btn button {
        padding: 8px 0px;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .footer-content {
        padding: 8px 0px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 640px) {
    body {
        overflow-x: hidden;
    }
    .nav-item {
        display: none;
        position: absolute;
        top: 10vh;
        height: 90vh;
        background: #952791;
    }
    .nav-item ul {
        flex-direction: column;
        width: 100vh;
        align-items: center;
        line-height: 4;
        justify-content: center;
        height: 100vh;
    }
    .hamburger {
        display: block;
    }
    .burger-active {
        display: block;
    }
    .bannerContent h2 {
        font-size: 2.6rem;
        letter-spacing: 12px;
    }
    .bannerContent p {
        font-size: 1.8rem;
    }
    .icons ul li a {
        font-size: 1.8rem;
        width: 44px;
        height: 42px;
    }
}
@media screen and (max-width: 550px) {
    .bannerContent h2 {
        font-size: 2.1rem;
        letter-spacing: 10px;
    }
    .bannerContent p {
        font-size: 1.5rem;
    }
    .icons ul li a {
        font-size: 1.5rem;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        margin: 25px 8px;
    }
    .banner {
        height: 100vh;
    }
}
